<div class="menu">
  <% Spina::Page.roots.regular_pages.live.sorted.in_menu.each do |nav_item| %>
  <%- active = (request.path.starts_with?(nav_item.materialized_path) && nav_item.materialized_path != '/') || (nav_item.materialized_path == '/' && request.path == nav_item.materialized_path) -%>

    <%= link_to nav_item.menu_title, nav_item.materialized_path, class: ('active' if active) -%>

    <%- if nav_item.children.size > 0 -%>
      <div class="sub-menu <%= 'hidden' unless active -%>" data-submenu="<%= nav_item.id -%>" >
        <% nav_item.children.sorted.in_menu.live.each do |child_nav_item| %>
          <%- subnav_active = request.path.starts_with?(child_nav_item.materialized_path) -%>
          <%= link_to child_nav_item.menu_title, child_nav_item.materialized_path, class: "#{'active' if subnav_active}" %>
        <% end %>
      </div>
    <%- end -%>
  <%- end -%>
</div>